<div class="side-bar-information">
  <div class="total-time">
      <div class="reservation-timer" >
       <span>{{userReservationInformation.timeOfReservation}}</span>
        <mat-icon
          aria-hidden="false"
          aria-label="routing arrow"
          fontIcon="alarm_on"
        ></mat-icon>
      </div>
    <p style="color: var(--color0); font-weight: 700;">
      {{userReservationInformation.date | date:'short'}} - {{userReservationInformation.timeEnd}}
    </p>
    <p style="color: var(--color0); font-weight: 550;">
      {{userReservationInformation.date | date:'short'}} - {{userReservationInformation.timeEnd}}
    </p>
    <p style="color: var(--color0); font-weight: 700;">
      {{userReservationInformation.guest}}
    </p>
    <user-reservation-icon></user-reservation-icon>
    <p style="color: var(--color0); font-weight: 700; margin-top: 20px">
      {{userReservationInformation.bookedTable}}
    </p>
  </div>

</div>
