.side-bar-information {
  width: 285px;
  height: 480px;
  background-color: var(--color4);
  border-radius: 45px;
  margin-left: 40px;
  margin-top: 60px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
.state-of-reservation {
  margin-top: 15px;
  display: flex;
  flex-direction: column;

  .reservation-timer {
    color: var(--color1);
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    mat-icon {
      font-size: 35px;
      width: 32px;
      height: 35px;
    }
  }



  p {
    all: unset;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
