.side-bar-information {
  width: 285px;
  height: 480px;
  background-color: var(--color4);
  border-radius: 45px;
  margin-left: 40px;
  margin-top: 60px;
  padding-top: 15px;
}
.total-time {
  margin-top: 15px;
  display: flex;
  flex-direction: column;

  p {
    all: unset;
    border: 1px solid var(--color1);

  }
}
