<div class="side-bar">
  <br>
  <div class="logo">
    <div class="logo-img">
      <div class="img-icon">
        <img ngSrc="../../assets/svg-icons/logo-small.svg" alt="Icon" height="60" width="65">
      </div>

    </div>
    <div class="logo-text">
      <span>луцький національний технічний університет</span>
    </div>
  </div>

  <div class="nav-bar">
    <ul>
<!--      @if (user === "ADMIN") {-->
        <li routerLinkActive="active" matBadge="4" [matBadgeOverlap]="badgeOverlap">
          <a routerLink="/active-reservation">
            <span>Активні бронювання</span>
            <mat-icon
              aria-hidden="false"
              aria-label="routing arrow"
              fontIcon="arrow_forward_ios"
            ></mat-icon>
          </a>
        </li>
<!--      }-->

<!--      @if (user === "USER" ) {-->
        <li routerLinkActive="active">
          <a routerLink="/user-data">
            <span>Мої дані</span>
            <mat-icon
              aria-hidden="false"
              aria-label="routing arrow"
              fontIcon="arrow_forward_ios">
            </mat-icon>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/maps-of-table">
            <span>Карта залу</span>
            <mat-icon
              aria-hidden="false"
              aria-label="routing arrow"
              fontIcon="arrow_forward_ios">
            </mat-icon>
          </a>
        </li>
        <li routerLinkActive="active" matBadge="4" [matBadgeOverlap]="badgeOverlap">
          <a routerLink="/my-reservation">
            <span>Мої бронювання</span>
            <mat-icon
              aria-hidden="false"
              aria-label="routing arrow"
              fontIcon="arrow_forward_ios">
            </mat-icon>
          </a>
        </li>

      <li routerLinkActive="active" [matBadge]="requestReservation" [matBadgeOverlap]="badgeOverlap">
        <a routerLink="/request-reservation">
          <span>Запити бронювання</span>
          <mat-icon
            aria-hidden="false"
            aria-label="routing arrow"
            fontIcon="arrow_forward_ios">
          </mat-icon>
        </a>
      </li>
<!--      }-->

    </ul>
  </div>

  <side-bar-information></side-bar-information>
</div>
