<div class="registration-page">
  <div class="registration-page__content">
    <button
      matTooltip="Повернутись на сторінку авторизації"
      (click)="returnToLogin()"
      class="registration-page__close">
      <mat-icon fontIcon="close"></mat-icon>
    </button>
    @if (userRegistered) {
    <h1>Сторінка реєстрації користувача</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration-page__form">
      <input type="text" placeholder="Ім'я" [formControlName]="'firstName'">
      <input type="text" placeholder="Прізвище" [formControlName]="'lastName'">
      <input type="email" placeholder="E-mail: lntu.email@com" [formControlName]="'email'">
      <input type="password" placeholder="Пароль: 8-16 символів " [formControlName]="'password'">
      <input type="phone" placeholder="Телефон: +380000000000" [formControlName]="'phone'">
        <button
          mat-button
          type="submit"
          [disabled]="registrationForm.invalid"
          [class]="registrationForm.invalid ? 'registration-page__form__button-disabled' : 'registration-page__form__button'"
        >
          <span>Зареєструватись</span>
          <logo-icon></logo-icon>
        </button>
    </form>
    }
    @if (!userRegistered) {
    <div class="registration-page__success">
      <h2>Ви успішно зареєструвались!</h2>
      <button
        mat-button
        (click)="onLoginReturn()"
      > <span>Повернутись на сторінку авторизації</span>
        <logo-icon></logo-icon>
      </button>
    </div>
    }
  </div>
</div>
