<div class="active-reservation-item">
  <div class="active-reservation-item__icon">
    <user-reservation-icon [state]="iconState"></user-reservation-icon>
    <span> Table {{tableItem?.tableNumber}}</span>
  </div>
  <div class="active-reservation-item__information">
    <div class="active-reservation-item__information__date general-item-style">
      <span style="font-weight: 700; font-size: 17px;"> booking date {{tableItem?.dateOfBooking}}</span>
      <span> booking period{{tableItem?.bookedPeriod}}</span>
    </div>
    <div class="active-reservation-item__information__main-user general-item-style">
      <span>  {{tableItem?.mainUserState }}</span>
      <span>  {{tableItem?.mainUser}}</span>
    </div>
    <div class="active-reservation-item__information__requested-user general-item-style">
      <span>  {{tableItem?.requestedUserPosition}}</span>
      <span> {{tableItem?.requestedUser}}</span>
    </div>
    @if (userAsAdmin) {
      <button mat-button class="active-reservation-item__button">Скасувати зустріч</button>
    }
    @else if (userAsUSer) {
      <button mat-button class="active-reservation-item__button">{{tableItem?.requestedUserState || 'pending'}}</button>
    }

  </div>
</div>
