.reservation-icon__viewMode  {
  fill: var(--color0);
  width: 250px;
  height: 200px;
}

.reservation-icon__active {
  fill: var(--color1);
  width: 250px;
  height: 200px;
}

.reservation-icon__disabled {
  fill: var(--color10);
  width: 250px;
  height: 200px;
}


