.request-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    font-weight: 700;
    font-size: 32px;
    color: var(--color1);
    font-family: "Roboto Bold";
  }
}
