.login-page {
 padding-top: 10vh;
}

.login-page__form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 660px;
  border-radius: 45px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);

  h1 {
    all: unset;
    width: 400px;
    font-family: "Roboto Bold";
    font-size: 40px;
    line-height: 43px;
    color: var(--color1);
    text-align: center;
    margin: 50px auto;
  }
}

.login-page__form{
  display:flex;
  flex-direction: column;
}

.login-page__form__input {
  display:flex;
  flex-direction: column;

  input {
    all: unset;
    width:630px;
    height: 75px;
    background-color: var(--color4);
    margin-bottom: 50px;
    border-radius: 15px;
    color: var(--color0);
    font-size: 20px;
    padding-left: 20px;

    &::placeholder {
      color: var(--color0);
      font-size: 20px;

    }

    &:focus {
      outline: 2px solid var(--color1);
    }
  }
}

.login-page__button {
  width: 300px;
  height: 75px !important;
  border-radius: 15px !important;
  font-size: 20px !important;
  color: var(--color0) !important;
  background-color: var(--color1)!important;
  margin: 20px auto;
}

.login-page__submit-active {
  background-color: var(--color1);
}

.mdc-button__label {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  logo-icon {
    //margin: 0 auto;
  }

}

