
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cafe-fe-primary: mat.define-palette(mat.$indigo-palette);
$cafe-fe-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cafe-fe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cafe-fe-theme: mat.define-light-theme((
  color: (
    primary: $cafe-fe-primary,
    accent: $cafe-fe-accent,
    warn: $cafe-fe-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cafe-fe-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roboto Bold";
  src: url("./assets/font/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto Light";
  src: url("./assets/font/Roboto-Light.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/font/Roboto-Regular.ttf") format('truetype');
}

:root {
  --color0: #FFFFFF;
  --color1: #3F409B;
  --color2: #3F409C;
  --color3: #52529A;
  --color4: #A9A9CD;
  --color5: #ADADD3;
  --color6: #8485C6;
  --color7: #5C5CA4;
  --color8: #7171B6;
  --color9: #ACABD6;
  --color10: #525252;
}

body {
  font-family: "Roboto Regular";
}
