/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/font/Roboto-Regular.ttf") format('truetype');
}

:root {
  --color0: #FFFFFF;
  --color1: #3F409B;
  --color2: #3F409C;
  --color3: #52529A;
  --color4: #A9A9CD;
  --color5: #ADADD3;
  --color6: #8485C6;
  --color7: #5C5CA4;
  --color8: #7171B6;
  --color9: #ACABD6;
}

body {
  font-family: "Roboto Regular";
}
