<div class="reservation-item">
  <div class="reservation-item__icon">
    <user-reservation-icon [state]="iconState"></user-reservation-icon>
    <span> Table {{tableItem?.tableNumber}}</span>
  </div>
  <div class="reservation-item__information">
    <div class="reservation-item__information__date general-item-style">
      <span style="font-weight: 700; font-size: 17px;"> booking date {{tableItem?.dateOfBooking}}</span>
      <span style="font-weight: 100; font-size: 15px;"> booking period{{tableItem?.bookedPeriod}}</span>
    </div>
    <div class="reservation-item__information__main-user general-item-style">
      <span>  {{tableItem?.mainUserState }}</span>
      <span>  {{tableItem?.mainUser}}</span>
    </div>
    <div class="reservation-item__information__requested-user general-item-style">
      <span>  {{tableItem?.requestedUserPosition}}</span>
      <span> {{tableItem?.requestedUser}}</span>
    </div>
    <div class="reservation-item__buttons">
      @if (userAsAdmin) {
        <button mat-button class="reservation-item__button-decline">Скасувати зустріч</button>
      }
      @else if (userAsUSer) {
        <button mat-button [class]="{
        'reservation-item__button-pending': tableItem?.requestedUserState === 'PENDING',
        'reservation-item__button-accepted': tableItem?.requestedUserState === 'ACCEPTED'}"
        >{{tableItem?.requestedUserState || 'pending' | titlecase}}</button>

        <button mat-button class="reservation-item__button-cancel">Скасувати зустріч</button>
      }
    </div>
  </div>
</div>
