//TODO set correct height after additing avatar

.table-map{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  border: 1px solid red;
}

.table-map__header {
  font-weight: 700;
  font-size: 32px;
  color: var(--color1);
}

.table-map__search {


  :host {
    ::ng-deep {
      .mat-mdc-form-field {
      //TODO need to setup correct styles for mat-form-field or create custom
      }

    }
  }

    mat-icon {
      color: var(--color1);
      margin-right: 10px;
    }
     button {
       all: unset;
     }
}
.table-map__list {
  width: 1200px;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  //position: relative;

  table-item-component {
    margin-top: 50px;
  }

  //ul {
  //  display: grid;
  //  grid-template-columns: repeat(auto-fit, minmax(em(200), 1fr));
  //}



  //table-component {
  //  margin-top: 150px;
  //  height: 380px;
  //  display: inline-block;
  //}
}
.cdk-overlay-dark-backdrop{
  background-color: rgba(73, 19, 168, 0.55);
}
.cdk-overlay-pane {
  border-radius: 45px !important;
}


