<div class="main-page">
 <side-bar></side-bar>
  <div class="main-page__header">
      <div class="main-page__information"></div>
      <div class="main-page__user-logo"></div>
  </div>
  <request-reservation></request-reservation>
<!--  <my-reservation></my-reservation>-->
<!--  <active-reservation></active-reservation>-->
<!--  <user-data></user-data>-->
<!--  <maps-of-table></maps-of-table>-->
</div>

<!--<mat-sidenav-container class="main-page" >-->
<!--  <mat-sidenav #sidenav [mode]="'push'" [position]="'start'">-->
<!--    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>-->
<!--    <side-bar></side-bar>-->
<!--  </mat-sidenav>-->

<!--  <mat-sidenav-content>-->
<!--    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>-->

<!--    <maps-of-table></maps-of-table>-->

<!--  </mat-sidenav-content>-->

<!--</mat-sidenav-container>-->
